<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About</title>
  </head>
  <body>
    <h1>About Me</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam, <br />
      placeat nihil neque eum adipisci, architecto minima possimus nemo <br />
      ea assumenda et quas.
    </p>
    <p>Ducimus odit atque quam, ad accusamus ratione ipsa!</p>

    <a href="/first_app">Go back home</a>
  </body>
</html>
